h1, h2, h3, h4, h5, form
{
font-family: "comic sans ms"; 
color: white; 
font-style: italic
}

table
{
background-color: #ceccfd;
font-family: "comic sans ms"; 
margin-left: 20pt;
color: black; 
text-align: left; 
word-spacing: normal;
}

p,li,th,td
{
font-family: "comic sans ms"; 
color: black; 
text-align: left; 
word-spacing: normal;
}

hr
{
color:white
}


a:link {font-family: "comic sans ms" ; color:white}
a:visited  {color:white}
a:active   {color:yellow}
a:hover    {color:red}

body {background-color: #e8b9ff;}

topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

